#main-header img {
  width: 100%;
  height: 100%;
}

#main-header .port-item {
  width: 30%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
  color: rgb(52, 58, 64);
}

#main-header .icon .text-white :hover{
    transform: scale(1.5);
    display: 2 ;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

.bg-black {
  color: #fff;
  background: #000;
}
.dark-mode {
  color: #fff;
  background-color: #333;
}
#dark-mode-container.dark-mode > div {
  /* apply the dark mode styles to the inner div elements */
  background-color: #333;
  color: #fff;
}
#dark-mode-container > div {
  /* apply the dark mode styles to the inner div elements */
  background-color: #333;
  color: #fff;
}
.dark-mode .card {
  /* override the default Bootstrap styles for the card class */
  background-color: #333;
  color: #fff;
}

.dark-mode .card .card-body {
  background-color: #333;
  color: #fff;
}
  
@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}
